body{
    margin: 0;
    padding: 0;
}

#game {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 900px;
    width: auto;
    height: 200px;
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
    text-align: center;
}

.divTwo {
    display: flex;
    height: 100px;
    width: 60px;
    margin: auto auto;
    border: 1px solid red;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.inputField {
    height: 90px;
    width: 55px;
    border: none;
    text-align: center;
    font: 3rem monaco, monospace; 
}

#button {
    margin: 0 auto;
    display: flex;
}