body{
    margin: 0;
    padding: 0;
}

#game {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 900px;
    width: auto;
    height: auto;
    min-height: 100px;
    display: block;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}

.divTwo {
    display: flex;
    height: 100px;
    width: 60px;
    margin: auto auto;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.inputField {
    height: 90px;
    width: 55px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    font: 3rem monaco, monospace; 
}

.button {
    margin: 30px auto;
    display: flex;
}

#checkButton {
    visibility: hidden;
}

.divBox {
    display: flex;
    max-width: 900px;
    width: auto;
    height: auto;
    margin: 0 auto;
    justify-content: space-around;
    text-align: center;
}